@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-principal-100: #ffffff;
    --color-principal-200: #1e1f21;
    --color-principal-300: #191a1c;
    --color-principal-400: #e1dcfa;
    --color-principal-500: #f5f6ff;
    --color-principal-600: #6645de;
    --color-principal-700: #2e1f66;
    --color-principal-800: #1e1543;
}

html{
    font-size: 16px;
}

.mb-1 {
    margin-bottom: 16px;
}

.mb-2 {
    margin-bottom: 24px;
}

.mb-3 {
    margin-bottom: 32px;
}

.mt-3 {
    margin-top: 32px;
}

.title-medium {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 18px;
}

.text-center {
    text-align: center;
}

.title-small {
    font-size: 1.125rem;
    font-weight: 700;
}

.text-medium {
    font-size: 1rem;
    font-weight: 400;
}

body{
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 10px #0000001a;
    position: sticky;
    background-color: var(--color-principal-100);
    top: 0px;
    align-items: center;
    font-size: 1rem;
    padding: 20px 40px;
    width: 100vw;
    height: 88px;
    z-index: 1;
}

nav {
    position: relative;
    width: 987px;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.btn-menu{
    border: none;
}

.btn-menu img{
    display: none;
    width: 38px;
    height: 30px;
}

.header-left-content {
    display: flex;
    flex-direction: row;
}

.header-right-content {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.header-left-content img {
    width: 150px;
    height: 33px;
    align-items: center;
}

.navegation-menu a {
    color: var(--color-principal-200);
    text-decoration: none;
    font-weight: 300px;
    margin-right: 32px;
}

.header-right__img img {
    width: 32px;
    height: 20px;
    margin-right: 4px;
    vertical-align: baseline;
    display: flex;
}

.header-right__language span {
    color: var(--color-principal-200);
    border-style: none;
    text-decoration: none;
    margin-right: 32px;
}

.header-right-content a {
    background-color: var(--color-principal-100);
    border-radius: 8px;
    border: 2px solid var(--color-principal-200);
    text-decoration: none;
    color: var(--color-principal-200);
    padding: 12px 16px;
}

.section-hero {
    padding: 36px 0px 96px;
    width: 100vw;
    color: var(--color-principal-700);
}

.hero-content {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.hero-left-content {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding-left: 40px;
}

.hero-left-content h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 24px;
    display: flex;
    padding-right: 40%;
    line-height: 42px;
}

.hero-title-small {
    font-weight: 700;
    flex-direction: row;
    display: flex;
    font-size: 1.25rem;
    align-items: baseline;
    gap: 4px;
    margin-top: 4px;
}

.hero-title-small h3 {
    font-size: 1.25rem;
}

.porcent {
    color: var(--color-principal-600);
}

.hero-list {
    display: flex;
    flex-direction: row;
}

.hero-list-items {
    margin-bottom: 24px;
    margin-top: 24px;
}

.hero-list-items img {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: baseline;
    width: 17px;
    height: 19px;
}

.hero-list-p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 6px;
}

.hero-price {
    flex-direction: row;
    display: flex;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 2px;
    align-items: baseline;
    gap: 6px;
}

.hero-price h3 {
    font-size: 3rem;
    font-weight: 700;
}

.hero-btn {
    margin-top: 24px;
    flex-direction: row;
    gap: 12px;
    display: flex;
}

.hero-primary-btn {
    background-color: var(--color-principal-600);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid var(--color-principal-600);
    text-decoration: none;
    color: var(--color-principal-100);
    padding: 12px 48px;
    height: 48px;
}

.hero-btn-time {
    background-color: var(--color-principal-400);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid var(--color-principal-400);
    text-decoration: none;
    color: var(--color-principal-700);
    height: 48px;
    padding: 12px 28px;
    width: 160px;
}

.hero-text-small {
    font-size: 1rem;
    font-weight: 400;
    flex-direction: row;
    display: flex;
    margin-top: 12px;
    gap: 4px;
    vertical-align: baseline;
}

.section-hero__img {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    width: 62%;
    transform: translateY(-50%);
}

.section-hero__img img {
    width: 100%;
    height: auto;
    margin-top: 40px;
}

.btn-primary {
    background-color: var(--color-principal-600);
    font-weight: 700;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid var(--color-principal-600);
    text-decoration: none;
    color: var(--color-principal-100);
    padding: 12px 48px;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-principal-800);
    width: 100vw;
    color: var(--color-principal-100);
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1285px;
    padding: 80px;
}

.card-review {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--color-principal-700);
    padding: 32px;
    flex: 1;
    text-align: left;
}

.card-review-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    margin-bottom: 35px;
}

.card-review__body__title {
    margin-top: 12px;
    margin-bottom: 16px;
}

.card-review__header img {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    background-color: var(--color-principal-500);
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    color: var(--color-principal-700);
}

.section-footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1174px;
    margin-top: 24px;
}

.footer-content{
    margin: 0 0 24px;
    width: 1174px
}

.footer-logo{
    flex-direction: row;
    display: flex;
    align-items: center;
}

.footer-logo img{
    width: 147px;
    height: 30px; 
    margin-bottom: 16px;
    margin-top: 16px;
}

.footer-payment{
    display: flex;
    flex-direction: row;
}

.footer-payment-methods{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-payment-methods img{
    border-radius: 6px;
    justify-content: center;
    display: flex;
    border: 1px solid #d9e0fc;
    width: 60px;
    height: 40px;
    margin-right: 8px;
}

.footer-payment__txt{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-principal-600);
    font-size: 0.875rem;
    font-weight: 700;
}

.footer-social-media{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
}

.footer-social-media img{
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.footer__text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.footer__text a{
    margin-left: 16px;
    font-weight: 400;
    font-size: 0.875rem;
}

.footer-content__p{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-left-content__p{
    font-size: 0.875rem;
    margin-top: 24px;
}

.footer-right-content__p{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 0.875rem;
    justify-content: flex-end;
    flex: 1;
    margin-top: 20px;
}

@media screen and (max-width: 1124px) {
    html{
        font-size: 16px;
    }
    header{
        height: 60px;
    }
    nav{
        display: none;
    }
    header .header-right-content{
        display: none;
    }
    body .section-hero__img{
        width: 55vw;
    }
    body .hero-left-content{
        padding-left: 0;
    }
    header .btn-menu img{
        display: flex;
    }
    section .section__content{
        padding-left: 40px;
        padding-right: 40px;
    }
    footer .section-footer{
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
    body .section-hero{
        flex-direction: row;
        width: 100vw;
        padding: 0;
    }
    body .hero-content{
        flex-direction: column;
        width: 100vw;
        padding-bottom: 600px;
        padding-left: 0px;
        padding-right: 15%;
        display: flex;
        gap: 0%;
    }
    .hero-price{
        margin: 0px;
    }
    .hero-content p{
        font-size: 16px;
    }
    .hero-btn a{
        font-size: 16px;
    }
    .hero-left-content h1 {
        margin-top: 40px;
        font-size: 28px;
        padding-left: 0px;
        padding-right: 10px;
        flex-direction: column;
        justify-content: right;
    }
    body .section-hero__img{
        width: 100vw;
        transform: translateX(-0%);
        padding-top: 180px;
        margin-top: 24px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .section__content{
        width: 100vw;
        padding: 0;
    }
    .section__content h2{
        margin-top: 40px;
        font-size: 28px;
    }
        .section__content p{
        font-size: 16px;
    }
    .card-review-container{
        flex-direction: column;
    }
}